{% extends 'base.html' %}

{% block content %}
  <h2>Dashboard</h2>
  <p>Welcome, {{ user.username }}!</p>

  <h3>Your Stores:</h3>
  <ul>
    {% for store in stores %}
      <li class="store-item">
        <div class="store-details">
          <span class="store-name">{{ store.name }}</span>
          <span class="store-actions">
            <a href="{% url 'edit_store' store.id %}">Edit Store Name</a> |
            <a href="{% url 'delete_store' store.id %}">Delete Store</a>
          </span>
        </div>
        <div class="shopping-lists">
          <h4>Shopping Lists:</h4>  <a href="{% url 'create_shopping_list' store.id %}">Add Shopping List to Store</a>
          <ul>
            {% for shopping_list in store.shoppinglist_set.all %}
              <li>
                <a href="{% url 'view_shopping_list' shopping_list.id %}">{{ shopping_list.name }}</a> | <a href="{% url 'delete_shopping_list' shopping_list.id %}">Delete Shopping List</a>
              </li>
            {% empty %}
              <li>No shopping lists for this store.</li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% empty %}
      <li>No stores created yet.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'create_store' %}">Create a New Store</a>
{% endblock %}
